@page "{id:int}"
@model MyBlog.Admin.Pages.Authors.ProfileModel
@{
    ViewData["Title"] = $"Author Profile";
    ViewData["SubTitle"] = $"{Model.FirstName} {Model.LastName}";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="row mb-2">
            <div class="col-md-6">
                <a asp-page="Index" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-angle-left"></i>
                    Back to Authors
                </a>
            </div>
            <div class="col-md-6 text-right">
                <a asp-page="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Edit</a>
            </div>
        </div>
        <div class="card card-primary-outline">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/@(!string.IsNullOrEmpty(Model.PhotoUrl) ? Model.PhotoUrl : "admin/dist/img/user1-128x128.jpg")" alt="Author Photo" class="img-circle img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h3>@Model.FirstName @Model.LastName</h3>
                        <h4>@Model.JobTitle</h4>
                        <p>@Model.ShortBio</p>
                        <p>
                            <a href="#" class="btn btn-success btn-sm">View Public Profile <i class="fas fa-arrow-alt-circle-right"></i></a>
                        </p>    
                    </div>
                </div>
                
                <hr>
                <p>@Model.FullBio</p>
            </div>
            <div class="card-footer text-center">
                <form asp-page-handler="Delete" method="post">
                    <input type="hidden" name="id" value="@Model.Id">
                    <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @Model.FirstName profile?')" title="Delete @Model.FirstName Profile"><i class="fas fa-trash"></i> Delete</button>
                </form>
            </div>
        </div>
        <div class="card card-primary-outline">
            <div class="card-header">
                <h3 class="card-title">Recent Posts</h3>
            </div>
            <div class="card-body">
                @if (Model.RecentPosts.Count > 0)
                {
                    <dl>   
                    @foreach (var post in Model.RecentPosts)
                    {
                        <dt>@post.Title</dt>
                        <dd>@post.Excerpt <a asp-page="/Posts/Edit" asp-route-id="@post.Id">more details</a></dd>
                    }
                    </dl>
                }
                else
                {
                    <p>No posts have been made recently.</p>
                }
            </div>
            @if (Model.RecentPosts.Count > 0)
            {
                <div class="card-footer text-center">
                    <a asp-page="/Posts/Index" asp-route-authorId="@Model.Id" class="btn btn-primary">View @Model.FirstName's Posts <i class="fas fa-arrow-alt-circle-right"></i></a>
                </div>
            }
        </div>
    </div>
</div>
